.stats-container {
    display: grid;
    gap: 8px;
    margin-top: 1px;
}

.stat-card {
    background: #27314c;
    border-radius: 12px;
    padding: 9px 6px;
    border: 2px solid #1f2943;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.2s;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}



.stat-card:active {
    transform: scale(0.98) translateY(0);
}

.stat-row {
    display: grid;
    grid-template-columns: 110px 60px 1fr;
    align-items: center;
    gap: 10px;
    pointer-events: none;
}

.stat-title {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
}

.stat-value {
    color: #ffffff;
    font-size: 17px;
    font-weight: 600;
    white-space: nowrap;
    text-align: right;
    margin-right: 5px;
}

.stat-bar {
    height: 16px;
    background: #0f1929;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 1.6px;
}

.stat-fill {
    height: 100%;
    border-radius: 10px;
    transition: width 0.5s ease;
}

/* Colored Progress Bars */
.stat-fill-strength {
    background: linear-gradient(90deg, #ff4757, #e63946);
    box-shadow: 0 0 10px rgba(255, 71, 87, 0.5);
}

.stat-fill-stamina {
    background: linear-gradient(90deg, #56ccf2, #2f80ed);
    box-shadow: 0 0 10px rgba(86, 204, 242, 0.5);
}

.stat-fill-habits {
    background: linear-gradient(90deg, #f7b731, #f39c12);
    box-shadow: 0 0 10px rgba(247, 183, 49, 0.5);
}

.stat-fill-addictions {
    background: linear-gradient(90deg, #ff47d4, #e639ac);
    box-shadow: 0 0 10px rgba(255, 71, 234, 0.5);
}

.stat-fill-finances {
    background: linear-gradient(90deg, #00d2a0, #00a876);
    box-shadow: 0 0 10px rgba(0, 210, 160, 0.5);
}